 {% load static %}

<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{ request.session.user_name }}</p>
        <a href=""><i class="fa fa-circle text-success"></i> 在线</a>&nbsp;<a href='/logout/'>退出</a>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="header">功能导航</li>

      <li class="treeview {% if menu == 'user' %}active{% endif %}">
        <a href='/user/'>
          <i class="fa fa-group"></i>
          <span>用户管理</span>
        </a>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
<script type="text/javascript">

</script>
<style type="text/css">
.glyphicon-minus:hover{
  cursor:pointer;
  color:red;
}
</style>